<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bomb.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>217</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>131</integer>
			<key>originalHeight</key>
			<integer>131</integer>
		</dict>
		<key>box.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>98</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>131</integer>
			<key>originalHeight</key>
			<integer>131</integer>
		</dict>
		<key>p1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
	</dict>
</dict>
</plist>