body,html{
	height: 100%;
}

.ui-body-e{
	background: url(../images/black-bg.jpg) repeat top left ;
}

.ui-body-a{
	background: url(../images/black-bg.jpg) repeat top left ;
}

.ui-body-x{
	background: url(../images/bg-content.jpg) repeat top left ;
}

#clear {
    margin: 10px;
}

#cta1{
	height: 185px;
	width: 230px;
	margin: 5px auto;
	clear: both;
}

#addlist img{
	padding-left: 3px;
}

#cta2{
	height: 131px;
	width: 131px;
	margin: 5px auto;
	clear: both;
}

#header-home{
	margin:10px auto 0;
	text-indent: -9999px;
	padding-top: 10px;
	height: 40px;
	background: url(../images/logo.png) no-repeat top left;
}

#header-fix{
	margin:10px auto 0;
	text-indent: -9999px;
	padding-top: 10px;
	height: 40px;
	background: url(../images/logo-opp.png) no-repeat top right;
}

#header-info{
	margin:10px auto 0;
	text-indent: -9999px;
	padding-top: 10px;
	height: 40px;
	background: url(../images/playerdetails.png) no-repeat top center;
}

#head-fix{
	background-image: linear-gradient(top, rgb(153,74,9) 28%, rgb(110,39,6) 64%);
	background-image: -o-linear-gradient(top, rgb(153,74,9) 28%, rgb(110,39,6) 64%);
	background-image: -moz-linear-gradient(top, rgb(153,74,9) 28%, rgb(110,39,6) 64%);
	background-image: -webkit-linear-gradient(top, rgb(153,74,9) 28%, rgb(110,39,6) 64%);
	background-image: -ms-linear-gradient(top, rgb(153,74,9) 28%, rgb(110,39,6) 64%);
	border-bottom: #000 solid 2px;
}

#dynamic{
	text-align: center;
}

#playerlist p{
	padding-left: 10px;
}

#playerlist img{
	padding-left: 10px;
}

#pagetitle{
	min-height: 1.1em; 
	text-align: left; 
	font-size: 16px; 
	display: block; 
	margin: .8em 10px .8em;  
	padding: 0;  
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	outline: 0 !important;
}

#pagetitle h1{
	margin: 0; 
	padding: 0; 
	font-size: 16px; 
	display: inline-block;
}


.content p{
	text-shadow: 1px 1px 2px #333;
}

#cta {
	text-align: center;
}

#cta img {
	width: inherit;
	height: inherit;
}

#searchbar{
	margin-left:10px;
}

#player-list img{
	padding-left: 10px;
}

#playerinfo h3{
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#playerinfo label{
	padding-left: 0px;
}

#playerinfo input {
	background: #f0f0f0;
	color: #000;
	text-shadow: 1px 1px 2px #ffe;
	
}

#comments {
	background: #f0f0f0;
	color: #000;
	text-shadow: 1px 1px 2px #ffe;
	
}

label{
	text-shadow: 1px 1px 2px #333;
}

fieldset{
	text-shadow: 1px 1px 2px #333;
}

label.error{
	display: block;
	color: #cc0000;
	padding: 10px 0px;
}

.playertitle{
	list-style: none;
	
}

#rate {
    font-size: 12px;
    margin: 5px;
}

#rating-span {
    color: #e50000;
}

#addplayerform {
    margin: 5px;
    padding: 5px;
    list-style: none;
}

label.error {
    display: block;
    margin: 10px 0;
    color: yellow;
    font-size: 12px;
}

#list {
	padding: 10px;
	margin: 5px;
}

#list h2 { 
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

#errorlink {
    display: none;
}

#errorpage ul {
    list-style: none;
}

#errorpage li {
    list-style: none;
    color: yellow;
    font-size: 12px;
    text-shadow: 1px 2px 3px #000;
    margin: 5px;
}

#message {
	color: yellow;
    font-size: 12px;
}

#closing {
    font-size: 12px;
    text-align: center;
}

.adjust {
    width: 55%;
    margin: 0px auto;
}

#formtitle {
    color: #a05206;
    text-shadow: 1px 2px 3px #000;
}

#myImage {
    height: auto;
    width: 175px;
    margin: 0px auto;
}

#abouttitle {
    color: #a05206;
    text-shadow: 1px 2px 3px #fff;
}

#playercontent {
    color: #fff;
    text-shadow: 1px 0px 2px #000;
    text-align: center;
    margin: 0px auto;
    padding-top: 25px;
}

#playercontent p {
    margin: 0px;
    font-size: 12px;
    padding: 1px;
}

#playercontent h3 {
    margin: 0px;
    padding: 1px;
}

#aboutinfo {
    padding: 5px;
    font-size: 14px;
    text-align: justify;
}

#iconpic {
	display: block;
	padding: 2px;
	text-align: center;
}
#iconpic img{
	display: block;
	text-align: center;
}

