#jqt .toolbar {
	background: #333;
}
#geolocation-section h1 {
    padding-top: 5px;
}
#jqt .individual img {
	width: 50px;
	height: 50px;
	float: left;
	padding-right: 15px;
}
#vid1 {
	width: 100%;
	float: center;
}
#vid2 {
	width: 100%;
	float: center;
}
#cta img {
	width: 100%;
}
#cta {
	background: #000;
	border-bottom: 1px solid #333;
}
#con-img img {
	width: 100%;
}
#con-img {
	background: #000;
	border-bottom: 1px solid #333;
}
#cam-img img {
	width: 100%;
}
#cam-img {
	background: #000;
	border-bottom: 1px solid #333;
}
#not-img img {
	width: 100%;
}
#not-img {
	background: #000;
	border-bottom: 1px solid #333;
}
#geo-img img {
	width: 100%;
}
#geo-img {
	background: #000;
	border-bottom: 1px solid #333;
}

ul#ios-android.individual {
	margin-bottom: 5px;
}
ul#iosandroid.individual {
	margin-top: 5px;
}
#jqt .individual .alt img {
	width: 50px;
	height: 50px;
	float: right;
	padding-left: 15px;
}
#jqt .individual h3 {
	font-size: 18px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
#jqt .individual h1 {
	padding: 10px 0 5px 0;
	text-align: left;
}
#jqt .individual h2 {
	font-size: 14px;
	text-align: left;
    padding: 0px;
}
#jqt .individual p {
    padding-left: 20px;
	text-align: left;
    font-size: 12px;
    font-weight: bold;
}
#jqt .individual .alt h3 {
	font-size: 18px;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}
#jqt .individual .alt h1 {
	padding: 10px 0 5px 0;
	text-align: right;
}
#jqt .individual .alt p {
	font-size: 12px;
	text-align: right;
}
#jqt .individual .counter {
	font-size: 10px;
}
#jqt .rounded {
	font-size: 14px;
}

.background {
	background: url(../images/bg-blackgray2.png) repeat left;
}