<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.psd</key>
            <dict>
                <key>frame</key>
                <string>{{484,1064},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{302,1064},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{120,1064},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,946},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,946},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,946},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,946},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>c9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,828},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,828},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,828},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,828},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,710},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,710},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,710},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,710},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,592},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,592},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,592},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>d9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,592},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,474},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,474},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,474},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,474},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,356},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,356},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,356},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,356},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,238},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>h9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,238},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,238},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,238},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,120},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,120},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,120},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,120},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>s9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>customcards_r_coords.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52719a1fafcd8b0247b6723aad667e12$</string>
            <key>textureFileName</key>
            <string>customcards_r_coords.png</string>
        </dict>
    </dict>
</plist>
