<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,2108},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2108},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1874},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1874},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,1874},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,1874},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1874},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1802},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1640},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1640},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,1640},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,1640},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>c9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1442},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1406},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1406},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,1406},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,1406},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1172},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1172},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,1172},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,1172},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1082},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,938},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>d9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,938},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,938},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,938},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1802,722},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,704},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,704},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,704},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,704},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,470},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,470},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,470},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>h9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,470},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s1.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s10.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1802,362},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s11.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,236},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s12.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,236},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s13.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,236},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s2.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,236},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s3.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s4.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s5.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s6.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s7.psd</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s8.psd</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
            <key>s9.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,358}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{232,358}}</string>
                <key>sourceSize</key>
                <string>{240,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>customcards_coords.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780ad3d8a4bb3462f16a97ba9ac8858d$</string>
            <key>textureFileName</key>
            <string>customcards_coords.png</string>
        </dict>
    </dict>
</plist>
